_debugbar/
_ide_helper_models.php
_ide_helper.php
!/bootstrap/cache/.gitkeep
!/database/database.sqlite.example
!/database/databases/.gitkeep
!/docker/
!/docker/php/
!/docker/supervisor/
!/docker/supervisor/conf.d/
!/storage/.gitkeep
!/storage/logs/.gitkeep
!bootstrap/cache/.gitignore
!bootstrap/cache/packages.php
!bootstrap/cache/services.php
._*
.bitbucket/
.buildpath
.ddev/
.dependabot/
.docker
.dockerignore
.DS_Store
.DS_Store?
# .env
# .env.*.local
# .env.development
# .env.example
# .env.local
# .env.production
# .env.staging
# .env.testing
.git/
.gitattributes
.github/
.gitignore
.gitlab/
.idea/
.php_cs.cache
.php-cs-fixer.cache
.phplint-cache
.phpstorm.meta.php
.phpunit.cache
.phpunit.result.cache
.pnpm-debug.log*
.project
.settings/
.Spotlight-V100
.styleci.yml
.Trashes
.vscode/
*.backup
*.bak
*.log
*.log.*
*.old
*.orig
*.phpunit.xml
*.save
*.sublime-*
*.swo
*.swp
*.temp
*.tmp
*~
/bootstrap/cache/*
/database/*.sqlite
/database/databases/*
/docker/php/php.ini
/docker/php/www.conf
/docker/supervisor/conf.d/*.conf
/docker/supervisor/supervisord.conf
/public/build/
/public/css/
/public/hot
/public/js/
/public/mix-manifest.json
/public/storage
/storage/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor/
bootstrap/cache/*.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
CHANGELOG.md
CODE_OF_CONDUCT.md
composer.lock
composer.phar
CONTRIBUTING.md
coverage/
deploy-*.sh
deploy.sh
desktop.ini
docker-compose.*.yml
docker-compose.override.yml
docker-compose.yml
Dockerfile
ehthumbs.db
Homestead.json
Homestead.yaml
LICENSE
node_modules/
npm-debug.log*
package-lock.json
php.ini
php.ini-*
phpunit.xml
pnpm-lock.yaml
README.md
resources/css/
resources/js/
server.php
setup-*.sh
temp/
tests/Reports/
Thumbs.db
tmp/
Vagrantfile
vendor/bin/sail
vite.config.js
webpack.mix.js
xdebug.log
xdebug.profiler*
xdebug.trace*
yarn-debug.log*
yarn-error.log*
yarn.lock
