_site/
._*
.AppleDouble
.buildpath
.cache-loader/
.cache/
.directory
# .dockerignore
.DS_Store
.DS_Store?
.env
.env.*.local
.env.backup
.env.development
.env.docker
.env.example.local
.env.local
.env.production
.env.staging
.env.testing
.envoy.blade.php
.eslintcache
.forge/
.fuse_hidden*
.idea/.gitignore
.idea/*.iml
.idea/*.xml
.idea/httpRequests
.idea/httpRequests/
.idea/php-inspections-ea-ultimate.xml
.idea/php.xml
.idea/workspace.xml
.jekyll-cache/
.jekyll-metadata
.kate-swp
.LSOverride
.nfs*
.node_repl_history
.npm
.npm/
.phpactor.json
.phpstorm.meta.php
.phpunit.result.cache
.pnp.*
.pnpm-debug.log*
.pnpm-store/
.project
.sass-cache/
.settings/
.Spotlight-V100
.stylelintcache
.temp/
.tmp/
.Trash-*
.Trashes
.vscode/*
.yarn/
.yarn/build-state.yml
.yarn/cache/
.yarn/install-state.gz
.yarn/unplugged/
[Dd]esktop.ini
*_backup
*.backup
*.bak
*.cab
*.code-workspace
*.credentials
*.crt
*.csr
*.debug.log
*.dump
*.jks
*.kate-swp
*.key
*.keystore
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.old
*.orig
*.pem
*.pub
*.save
*.secret
*.sql
*.sqlite
*.sqlite-journal
*.stackdump
*.sublime-*
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.temp
*.tmp
*.token
*~
/.env
/.env.backup
/.fleet
/.idea
/.nova
/.phpunit.cache
/.phpunit.result.cache
/.vscode
/.zed
/auth.json
/backups/
/docker-compose.override.yml
/exports/
/nbproject/private/
/node_modules
/public/build
/public/build/
/public/hot
/public/storage
/public/uploads/
/storage/*.key
/storage/app/private/
/storage/app/public/private/
/storage/app/temp/
/storage/backups/
/storage/exports/
/storage/framework/cache/data/
/storage/framework/cache/your-app-*
/storage/framework/mail/testing/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/pail
/storage/uploads/
/vendor
/vendor/
$RECYCLE.BIN/
auth.json
auth.json.example
bootstrap/cache/*
# composer.lock
composer.phar
# config/services.php
coverage/
database/database.sqlite
database/database.sqlite-journal
debug.log
debugbar.sql
docker-compose.override.yml
ehthumbs_vista.db
ehthumbs.db
forge.config.js
Homestead.json
Homestead.yaml
Icon?
id_dsa
id_rsa
laravel.log
logs/
mix-manifest.json
node_modules/
npm-debug.log
npm-debug.log*
package-lock.json
pnpm-lock.yaml
public/.vite/
public/assets/
public/css/
public/js/
storage/framework/sessions/*
Thumbs.db
Thumbs.db:encryptable
yarn-debug.log*
yarn-error.log
yarn-error.log*
yarn.lock
scp-config.sh
temp.txt
ai.docs-prompt.txt
!.idea/codeStyles
!.idea/runConfigurations
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!bootstrap/cache/.gitignore
