services:
  api:
    build:
      context: .
    container_name: laravel-api
    ports:
      - "127.0.0.1:9000:9000" # allow host access only
    env_file:
      - ./.env
    environment:
      RUN_MIGRATIONS: "true"
      CACHE_ARTISAN: "true"

      LOG_CHANNEL: stderr

      # # SQLite
      # DB_CONNECTION: sqlite
      # DB_DATABASE: /usr/app/database/database.sqlite

      # cache stores, redis
      CACHE_STORE: redis
      SESSION_DRIVER: redis
      QUEUE_CONNECTION: redis

    # volumes:
    #   - sqlite_data:/usr/app/database
    #   - storage_data:/usr/app/storage
    # depends_on:
    #   - redis
    restart: unless-stopped

  # redis:
  #   image: redis:7-alpine
  #   container_name: laravel-redis
  #   env_file:
  #     - ./.env
  #   command: ["redis-server", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD}"]
  #   volumes:
  #     - redis_data:/data
  #   restart: unless-stopped

# volumes:
#   sqlite_data:
#   storage_data:
#   redis_data:
