services:
  api:
    build:
      context: .
    container_name: laravel-api
    ports:
      - "9000:9000" # HTTP served by nginx inside container
    env_file:
      - ./.env
    environment:
      LOG_CHANNEL: stderr

      # SQLite
      DB_CONNECTION: sqlite
      DB_DATABASE: /usr/app/database/database.sqlite

      # Redis
      CACHE_STORE: redis
      SESSION_DRIVER: redis
      QUEUE_CONNECTION: redis

    volumes:
      - sqlite_data:/usr/app/database
      - storage_data:/usr/app/storage
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: laravel-redis
    env_file:
      - ./.env
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  sqlite_data:
  storage_data:
  redis_data:
